<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Django Girls Blog</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
</head>
<body>
    <div>
            <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
            <p>published: 03.07.2019, 17:23</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！　よろしくお願いします！</p>
    </div>

    <div>
        <p>公開日: 2019/7/3, 17:23</p>
        <h2><a href="">２番目の投稿</a></h2>
        <p>こんにちは！　よろしくお願いします</p>
    </div>


</body>
</html>